<ons-page ng-controller="PhotoListCtrl" ng-init="search_result = 0; disabled=1; limit = 20"; ShowMore = 0>

    <ons-toolbar>
        <div class="left"><ons-back-button>{{ "Back" | translate }}</ons-back-button></div>
        <div class="center"><span>{{selected_city | translate }}</span></div>
    </ons-toolbar>


    <!-- <div class="margin10" ng-init="checked=1" ng-show="load_complete"> -->

    <div class="margin10 text-center" ng-show="search_result">
        
        <p ng-show="data_not_found">Currently, all of restaurants in {{selected_city}} has no photos.</p>
        
        <ons-list modifier="inset" class="margin-10-0-10-0" ng-show="!data_not_found">
              
            <ons-list-item ng-repeat="business in businesses | limitTo:limit" modifier="chevron" ng-click="myNavigator.pushPage('pages/en/business_home.html', {selected_biz: business});">
                <ons-row class="margin-10-0-10-0">
                    <ons-col width="80px">
                        <img src="{{business['profile']}}" class="biz-image margin-top-10">
                    </ons-col>
                    <ons-col style="padding-right:10px">
                        <ons-row>
                            <p class="margin-0 line-height-150">{{business['name_en']}}</p>
                        </ons-row>
                        <ons-row>
                            <p class="margin-0 line-height-150 font-size-12 margin-right-20">{{business['category']}}</p>
                        </ons-row>
                        <ons-row>
                            <p class="margin-0 line-height-150 font-size-12">{{ "Photos: " | translate }}{{business['photos']}}</p>
                        </ons-row>
                        <ons-row>
                            <div class="rating margin-0 line-height-150 font-size-12">
                                <div class="rating-num">
                                    <ons-icon icon="fa-star" fixed-width="false" ng-repeat="n in getRate(business.rate) track by $index"></ons-icon>
                                    <ons-icon icon="fa-star-half" fixed-width="false" ng-show={{show_half_star}}></ons-icon>
                                    {{business['rate']}}
                                </div>
                            </div>
                        </ons-row>
                    </ons-col>
                    <ons-col width="40px">
                        <p class="margin-0 line-height-150 font-size-12">{{business['distance']}} km</p>
                    </ons-col>
                </ons-row>
            </ons-list-item>
        </ons-list>

        <ons-button modifier="quiet" class="font-size-12">
            <span ng-show="limit<businesses.length" ng-click="limit = limit + 20">
                {{ "Show More" | translate }}
            </span>
        </ons-button>
    </div>
  

</ons-page>