<ons-page ng-controller="SignupCtrl">
    <ons-toolbar>
        <div class="left"><ons-back-button>{{ "Back" | translate }}</ons-back-button></div>
        <div class="center"><span>{{ "Sign Up" | translate }}</span></div>
    </ons-toolbar>

    <div ng-init="display= 1; showEmail=0; login=0;" class="login-page">
    	<img src="images/logos/Final_logo_green.png" class="logo-frame"/>

        
        <!-- <div id="fb-root"></div> -->
        
    
        <div ng-show="!showEmail">
            <p style="text-align: left">{{ "Sign up with:" | translate }}</p>    
            <ons-button modifier="large" class="bg-color-facebook" ng-click="SignUpWithFacebook()">
                Facebook
            </ons-button>
            <!-- <ons-button modifier="large" class="bg-color-twitter margin-top-10" ng-click="alert('Coming soon!');">Twitter</ons-button>
            <ons-button modifier="large" class="bg-color-line margin-top-10" ng-click="alert('Coming soon!');">Line</ons-button>  -->
            <ons-button modifier="outline" class="email-button" ng-click="showEmail=!showEmail">
                {{ "Email" | translate }}
            </ons-button>
            <!-- <img ng-src="{{url}}">
            {{data}} -->

        </div> 
            
        <div ng-show="showEmail && !login" class="email-signup-form">
            <input type="text" class="text-input--underbar" placeholder="Full Name*" value="" ng-model="txt_name">
            <input type="email" class="text-input--underbar" placeholder="Email*" value="" ng-model="txt_email">
            <input type="password" class="text-input--underbar" placeholder="Password*" value="" ng-model="txt_pass">
            <ons-button modifier="large" ng-click="signup(txt_name, txt_email, txt_pass,'');">
                {{ "Sign Up" | translate }}
            </ons-button>
        </div>
    </div>
</ons-page>